<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>etudiant</servlet-name>
    <jsp-file>/pageEtu1.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>enseignant</servlet-name>
    <jsp-file>/pageEnseign1.jsp</jsp-file>
  </servlet>
   <servlet>
    <servlet-name>scolarite</servlet-name>
    <jsp-file>/pageScolar1.jsp</jsp-file>
  </servlet>
   <servlet>
    <servlet-name>enseignant2</servlet-name>
    <jsp-file>/pageEmplo1.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ficherAppel</servlet-name>
    <jsp-file>/pageListAppel.jsp</jsp-file>
  </servlet>
   <servlet>
   <description></description>
   <display-name>ServletEnseign1</display-name>
   	<servlet-name>ServletEnseign1</servlet-name>
   	<servlet-class>ajax.ctrl.ServletEnseign1</servlet-class>
   </servlet>
   <servlet>
   <description></description>
   <display-name>ServletEnseignTest</display-name>
   	<servlet-name>ServletEnseignTest</servlet-name>
   		<servlet-class>ajax.ctrl.ServletEnseignTest</servlet-class>
   </servlet>
   <servlet>
   	<description></description>
   	<display-name>ServletFicheAppel</display-name>
   	<servlet-name>ServletFicheAppel</servlet-name>
   	<servlet-class>ajax.ctrl.ServletFicheAppel</servlet-class>
   </servlet>
   <servlet>
   	<description></description>
   	<display-name>CtrlPageConnexion</display-name>
   	<servlet-name>CtrlPageConnexion</servlet-name>
   	<servlet-class>ajax.ctrl.CtrlPageConnexion</servlet-class>
   </servlet>
  
  
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>etudiant</servlet-name>
    <url-pattern>/Etudiant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>enseignant</servlet-name>
    <url-pattern>/Enseignant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>enseignant2</servlet-name>
    <url-pattern>/Enseignant2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>scolarite</servlet-name>
    <url-pattern>/Scolarite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ficherAppel</servlet-name>
    <url-pattern>/FicherAppel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEnseign1</servlet-name>
  	<url-pattern>/ServletEnseign1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEnseignTest</servlet-name>
  	<url-pattern>/ServletEnseignTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletFicheAppel</servlet-name>
  	<url-pattern>/ServletFicheAppel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CtrlPageConnexion</servlet-name>
  	<url-pattern>/CtrlPageConnexion</url-pattern>
  </servlet-mapping>
  
  
  

</web-app>

